.m-10 {
  margin: 10px;
}
.m-20 {
  margin: 20px;
}
.m-30 {
  margin: 30px;
}
.m_t-10 {
  margin-top: 10px;
}
.m_r-10 {
  margin-right: 10px;
}
.m_b-10 {
  margin-bottom: 10px;
}
.m_l-10 {
  margin-left: 10px;
}
.m_t-20 {
  margin-top: 20px;
}
.m_r-20 {
  margin-right: 20px;
}
.m_b-20 {
  margin-bottom: 20px;
}
.m_l-20 {
  margin-left: 20px;
}
